body {
  background-image: url('img/minimal.jpg');
  background-repeat: no-repeat
  background-attachment: fixed;  
  background-size: cover;
}
}
ul {
  list-style-type: none;
  margin: 20;
  padding: 20;
}

li {
  display: inline;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 75px;
  background-color: #454545;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #111;
}